{% extends 'employee/lower_base.html' %}
{% block content %}
    <div class="panel-heading"><h3>岗位详情</h3></div>
    <table class="table">
        <td>
        <th>岗位名</th>
        <th>企业名</th>
        <th>工资</th>
        <th>地区</th>
        <th>性格需求</th>
        </td>
        <tr>
            <th></th>
            <th>{{ job.name }}</th>
            <th>{{ job.enterprise.name }}</th>
            <th>{{ job.salary }}</th>
            <th>{{ job.get_city_display }}</th>
            <th>{{ job.personalityrequest.get_type_display }}</th>
        </tr>
    </table>
    <div class="panel-heading">
        <h3>技能需求</h3>
    </div>
    <table class="table">
        <td>
        <th>领域</th>
        <th>难度</th>
        </td>
        {% for r in requests %}
            <tr>
                <th></th>
                <th>{{ r.get_aspect_display }}</th>
                <th>{{ r.get_level_display }}</th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}