{% extends 'enterprise/enterprise_base.html' %}
{% block content %}
    <div class="panel-heading"><h3>面试通知列表</h3></div>
    <table class="table">
        <td>
        <th>岗位名</th>
        <th>求职者名</th>
        <th>详情</th>
        <th>管理</th>
        </td>
        {% for inform in informs %}
            <tr>
                <th></th>
                <th>{{ inform.job }}</th>
                <th>{{ inform.employee }}</th>
                <th><a href="{% url 'informDetail' enterprise.id inform.id%}" style="text-decoration:none;">详情</a></th>
                <th><a href="{% url 'informUpdate' enterprise.id inform.id%}" style="text-decoration:none;">管理</a></th>
            </tr>
        {% endfor %}
    </table>
    <div class="panel-heading"><h3>面试申请列表</h3></div>
    <table class="table">
        <td>
        <th>岗位名</th>
        <th>求职者名</th>
        <th>接受</th>
        <th>拒绝</th>
        </td>
        {% for application in applications %}
            <tr>
                <th></th>
                <th>{{ application.job }}</th>
                <th>{{ application.employee }}</th>
                <th><a href="{% url 'applicationAccept' enterprise.id application.job.id application.employee.id%}" style="text-decoration:none;">接受</a></th>
                <th><a href="{% url 'delApplication' enterprise.id forloop.counter%}" style="text-decoration:none;">拒绝</a></th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}