{% extends 'enterprise/lower_base.html' %}
{% block content %}
    <div class="panel-heading"><h3>{{ job.name }}推荐详情</h3></div>
    <table class="table">
        <td>
        <th>姓名</th>
        <th>学历</th>
        <th>外语水平</th>
        <th>性格类型</th>
        <th>技能总分</th>
        <th>匹配度</th>
        <th>详情</th>
        <th>发送面试通知</th>
        </td>
        {% for e,s,n in employees %}
            <tr>
                <th></th>
                <th>{{ e.name }}</th>
                <th>{{ e.get_education_display }}</th>
                <th>{{ e.get_english_display }}</th>
                <th>{{ e.personalitygrade.get_type_display }}</th>
                <th>{{ s.grade }}</th>
                <th>{{ n.score }}</th>
                <th><a href="{% url 'employeeDetail' enterprise.id e.id %}" style="text-decoration:none;">详情</a></th>
                <th><a href="{% url 'informCreate' enterprise.id job.id e.id %}" style="text-decoration:none;">发送面试通知</a></th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}